<!-- --------------------------------------------------------------------------------------------------------
Author: Santoshi Mishra
Purpose: The page will have a multi select picklist for selecting the categories for each role. 
		 On save, as many number of child rows will be created as selected categories. 
Created Date : Oct 2011
------------------------------------------------------------------------------------------------------------ -->

<apex:page standardController="Base_Approval_Matrix__c" extensions="BaseApprovalMatrixPageExtension" tabstyle="Base_Approval_Matrix__c">

<apex:form >
<apex:inputhidden value="{!Base_Approval_Matrix__c.Name}"/>
  <apex:sectionheader title="Base Approval Matrix Edit" subtitle="{!RecName}"/>
	<apex:pageblock Title="Base Approval Matrix Edit" mode="Edit">
	<apex:pageblockbuttons >
	<apex:commandbutton value="Save" action="{!Save}"/>
	<apex:commandbutton value="Cancel" action="{!Cancel}"/>
	
	</apex:pageblockbuttons>
	<apex:pagemessages />  
	
	<apex:pageblocksection Title="Information" columns="2" >
	
	<apex:inputfield value="{!Base_Approval_Matrix__c.BM_Geo__c}"/>
	<apex:inputfield value="{!Base_Approval_Matrix__c.BM_Active__c}"/>
	<apex:inputfield value="{!Base_Approval_Matrix__c.BM_Region__c}"/>
	<apex:inputfield value="{!Base_Approval_Matrix__c.BM_Start_Pct__c}"/>
	<apex:inputfield value="{!Base_Approval_Matrix__c.BM_Level__c}"/>
	<apex:inputfield value="{!Base_Approval_Matrix__c.BM_End_Pct__c}"/>
	<apex:inputfield value="{!Base_Approval_Matrix__c.BM_Role__c}"/>
	<apex:inputfield value="{!Base_Approval_Matrix__c.Segment__c}"/>
	
	<apex:pageblocksectionitem >
	<apex:outputlabel >
	 Discount Category
	</apex:outputlabel>
	<apex:selectlist value="{!selectedCats}" multiselect="true">
	<div style="font-weight: bold ">
	
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Available
	
	</div>
	<apex:selectoptions value="{!categories}"/>
	</apex:selectlist>
	</apex:pageblocksectionitem>
	
	
	</apex:pageblocksection>
	
	</apex:pageblock>

</apex:form>

</apex:page>