<apex:page standardController="Competitive_Landscape__c" extensions="CompetitiveLandscapeExtension" sidebar="true" showHeader="true">
    <apex:form >
        <apex:pageBlock title="Competitive Landscape Edit" mode="Edit">
            <apex:pageBlockButtons title="Competitive Landscape Edit">
                <apex:commandButton value="Save" action="{!competitiveLandscapeSave}"/>
                <apex:commandButton value="Cancel" action="{!competitiveLandscapeCancel}" immediate="true"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Information" columns="2">
               <apex:inputField value="{!Competitive_Landscape__c.Name}" required="true"/>
               <apex:inputField value="{!Competitive_Landscape__c.Account_Plan__c}"/>
               <apex:inputField value="{!Competitive_Landscape__c.Competitor_Master__c}"/>
               <apex:inputField value="{!Competitive_Landscape__c.Strengths__c}"/>
               <apex:inputField value="{!Competitive_Landscape__c.Alignment__c}"/>
               <apex:inputField value="{!Competitive_Landscape__c.Weaknesses__c}"/>
               <apex:inputField value="{!Competitive_Landscape__c.GEO_Country_Presence__c}"/>
               <apex:inputField value="{!Competitive_Landscape__c.Rvbd_Product__c}"/>
           </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>