<apex:page standardController="Opportunity" extensions="ConfigureController"  >
    <apex:form >
      <apex:actionFunction name="callWebservice" action="{!callWebService}" rerender="out" status="status"/>       
   <apex:pagemessages />
  
    </apex:form>
     <div style="position: relative;">
        <apex:outputpanel id="out">
            <apex:actionstatus id="status">
                <apex:facet name="start">
                    <div class="waitingSearchDiv" id="el_loading" style="background-color: #efefef;
                           height: 100%;opacity:0.65;width:100%;"> 
                        <div class="waitingHolder" style="top: 74.2px; width: 91px;">
                            <img class="waitingImage" src="/img/loading.gif" title="Please Wait..." />
                            <span class="waitingDescription">Processing before pulling from Quoting System ...</span>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionstatus>
          <apex:iframe src="{!urls}" scrolling="true" id="theIframe"/>
        </apex:outputpanel>
    </div>   
     <script>window.setTimeout(callWebservice,2000)</script> 
</apex:page>