<apex:page sidebar="false" controller="OBIEESSO">
<html>
<style type="text/css">
.bdr    { border: thick solid grey }
.h100   { height:7000px;}
.w100   { Width: 100% }
.bbox   { box-sizing: border-box;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
        }
.vat    { font-size: 0; vertical-align:top}
</style>

<iframe src="OBIEE" class="h100 w100 vat bbox">
</iframe></html>

</apex:page>