<apex:page standardController="Opportunity" extensions="OpportunityOrderDetailsExController" tabStyle="Opportunity">
    <style type="text/css">
    .tha{ width: 20px;}
    .thb{ width: 40px;}
    .thc{ width: 80px;}
    .thd{ width: 200px;}
    .noBottomBorder { border-bottom: 0px solid #000 ! important }
    </style>
    <apex:form > 
    <apex:outputPanel id="formSection">
     <apex:pageBlock mode="inlineEdit" title="Order Details" rendered="{!$ObjectType.Opportunity.accessible}">
        <apex:pageBlockButtons >
                <apex:commandButton id="save" action="{!newSave}" title="Save" value="Save"/>
                <apex:commandButton id="cancel" action="{!cancel}" immediate="true" title="Cancel" value="Cancel"/> 
            </apex:pageBlockButtons>
            <apex:pageBlockSection collapsible="false" columns="2">
                <apex:outputField value="{!Opportunity.SO__c}"/>
               <apex:outputField value="{!opportunity.OrderId__c}"/>
                <apex:outputField value="{!opportunity.Oracle_Order__c}"/>
                <apex:outputField Value="{!opportunity.Shipping_Info__c}"/> 
                <apex:outputField value="{!opportunity.Support_Renewal_Rate_RVBD__c}"/>
                <apex:outputField value="{!opportunity.Support_Renewal_Rate_RASP__c}"/>  
            </apex:pageBlockSection>
            <apex:pageblocktable value="{!ddList}" var="dd" id="oo1" width="300px"  cellspacing="5" border="5" cellpadding="10" align="center" rendered="{!if(ddList!=null,true,false)}">
                <apex:column >
                    <apex:facet name="header">Category Name</apex:facet>
                    <apex:outputText value="{!dd.Category_Master__r.Name}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Description</apex:facet>
                    <apex:outputText value="{!dd.Description__c}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">Customer Discount</apex:facet>
                    <apex:outputField value="{!dd.Customer_Discount__c}"/>
                </apex:column>
                <apex:column >
                    <apex:facet name="header">VAR Discount</apex:facet>
                    <apex:outputField value="{!dd.Var_Discount__c}"/>
                </apex:column>
            </apex:pageblocktable>
      </apex:pageBlock>
</apex:outputPanel>
    </apex:form>
    <script>
        function resizeIF(){
            ifrm = window.parent.document.getElementById('066f000000095NO');
            ifrmBody = ifrm.contentWindow.document.body;
            ifrm.scrolling = 'no';
            ifrm.height = ifrmBody.offsetHeight;
            if(navigator.userAgent.indexOf('Firefox/5') != -1) ifrm.height = parseInt(ifrm.height) + 26;
            if(navigator.userAgent.indexOf('Firefox/6') != -1) ifrm.height = parseInt(ifrm.height) + 26;
            if(navigator.userAgent.indexOf('Firefox/7') != -1) ifrm.height = parseInt(ifrm.height) + 26;
            if(navigator.userAgent.indexOf('Firefox/8') != -1) ifrm.height = parseInt(ifrm.height) + 26;
            if(navigator.userAgent.indexOf('Firefox/9') != -1) ifrm.height = parseInt(ifrm.height) + 26;
            ifrmBody.setAttribute('style', 'overflow: hidden;');
        }
        resizeIF();
    </script>
</apex:page>