<apex:page standardcontroller="Opportunity"
    extensions="OppDiscountSchedulesController" wizard="false" sidebar="false" showHeader="false">
    <apex:form >
        <apex:pageMessages />
        <apex:pageblock id="CustomList"  >
            <apex:pageBlockTable value="{!oppDSList}" var="o"
                rendered="{!(oppDSList.size > 1)}" width="300px">
                <apex:column headerValue="Name" width="3%" >
                    <div style="display: inline-block;width: 100%;overflow: hidden;vertical-align: top;">
                        <apex:outputText value="{!o.scheduleName}" rendered="{!o.scheduleName == 'Base Discount'}"/>
                        <apex:outputLink value="/{!o.scheduleId}" target="_parent" rendered="{!(o.scheduleName != 'Full Discount (Total)' && o.scheduleName != 'Base Discount')}">{!o.scheduleName}</apex:outputLink>
                        <apex:outputText value="{!o.scheduleName}" rendered="{!o.scheduleName == 'Full Discount (Total)'}"/>
                    </div>
                </apex:column>
                <apex:column headerValue="Type" width="1%">
                    <apex:outputText value="{!o.scheduleFor}" />
                </apex:column>
                <apex:repeat value="{!categoryNames}" var="cate">
                    <apex:column headerValue="{!cate}" width="1%">
                        <apex:outputPanel rendered="{!o.cateValueList[cate] != 0}">
                            <apex:outputText value="{!Text(o.cateValueList[cate])}" />
                        </apex:outputPanel>
                    </apex:column>
                </apex:repeat>
            </apex:pageBlockTable>
            <!-- <apex:outputLabel value="No records to display"
                rendered="{!(oppDSList.size == 2)}"></apex:outputLabel> -->
        </apex:pageblock>
    </apex:form>
</apex:page>