<apex:page showHeader="false" sidebar="false" standardStylesheets="false">
<head>           
<!-- FULL ASSETS -->
<link rel="stylesheet" href="{!URLFOR($Resource.LumRotationBannerAssets, 'stylesheets/banner.css')}" type="text/css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="{!URLFOR($Resource.LumRotationBannerAssets, 'javascripts/jquery.flexslider-min.js')}"></script>
</head> 

 <style type="text/css">
body {
background-image:none!important;
background-color:#598FA6!important;
padding:0px;
margin:0px;
}
</style>
<body>

  <c:RotationWidget bannerRotatorName="PartnerPortalHomepage"/>
  </body>
</apex:page>