<apex:page sidebar="false" standardStylesheets="false" showHeader="true" title="Events" >
  <iframe src="/servlet/servlet.FileDownload?file=01540000000uba4" width="1014" height="700" scrolling="no" frameborder="0" />
</apex:page>