<apex:page showHeader="true" sidebar="false" standardStylesheets="false" tabStyle="Products_Solutions__tab" title="Application Performance">
  <iframe src="/servlet/servlet.FileDownload?file=01540000000ubaN" width="1014" height="700" scrolling="no" frameborder="0" />
</apex:page>