<apex:page standardController="SFDC_MDF_Claim__c" extensions="Submittofinance" action="{!sendMail}">
<style type="text/css">
     .customPopup{
            background-color: white;
            border-style: solid;
            border-width: 2px;
            left: 50%;
            padding:10px;
            position: absolute;
            z-index: 9999;
            /* These are the 3 css properties you will need to tweak so the pop 
            up displays in the center of the screen. First set the width. Then set 
            margin-left to negative half of what the width is. You can also add 
            the height property for a fixed size pop up.*/
            width: 150px;
            margin-left: -250px;
            top:100px;
        }
</style>
<apex:form >

<apex:pageMessages id="msgId"/>
<apex:commandButton action="{!back}" value="Back"/>
<!--apex:outputPanel id="popup">
 <apex:outputPanel styleClass="customPopup" layout="block" rendered="{!displayPopUp}">
                No attachemnts found would you like to send email with out attachments? <br/><br/><br/>
</apex:outputPanel>
<apex:outputPanel-->
</apex:form>
</apex:page>